@import url("https://fonts.google.com/specimen/Open+Sans");
img {
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


  }
  
body {
    background-color:#c5c5c5;
 }
  
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: white;
    margin: 0 auto;
    width: 250px;
    margin-top: 10vh;
    padding: 8px;
    border-radius: 12px;
    border-top:5px solid  #8132a3;
  }
  
h1{
    font-size:  12px;
  }

p{ 
    font-size:  14px;
  }
.card__details{
  margin-top: 10vh
}
  